/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-inline: 50px;
}

h3  {
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title  {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

p {
    font-size:16px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.card img {
    object-fit: cover;
}

.card-title  {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.button  {
	font-weight: 800;
	border-width: 3px;
    
}

.buttonDrakGreyColor {
	color: var(--drak-grey-color);
	border-color: var(--drak-grey-color);
}

.buttonMainColor {
	color: var(--main-color);
	border-color: var(--main-color);
}

.buttonSecondColor {
	color: var(--second-color);
	border-color: var(--second-color);
}

.buttonRounded {
	border-radius: 39px;
}

.buttonHighlight:hover {
	font-weight: 800;
	border-width: 3px;
}

/****** Header ***********/

header img {
    width: 60px;
    height: 20px;
    padding: 30px 0px;
}

.navbar {
    display:flex;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    font-size: 16px;
    display:flex;
    gap:50px;
    
}

.navbar ul li a {
    padding-top: 14px;
}

nav a {
    padding: 5px;
}

nav li:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}
/****** Barre recherche ***********/
.search-container {
    display: flex;
    justify-content: center;
}

.search-bar {
    width: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
}

.location-icon {
    background-color: #f2f2f2;
    font-size: 18px; 
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.search-btn {
    background-color: #0065FC; 
    color: #fff;
    font-size: 18px; 
    font-weight: bold;
    border: none;
    border-radius: 0px 15px 15px 0px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #0065FC;
}

.search-btn .fa-magnifying-glass {
    display: none;
}
 
input[type="text"] {
    padding: 0;
    text-align: center;
    height: 50px;
    font-weight: 700;
    font-size: 21px;
    color: #000;
    width: 200px;
    font-size: 18px;
    border: none;
    outline: none; 
}

.location-icon i {
    color: black;
}

.button {
    height: 100px;
}

.info i {
    margin-right: 8px; 
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 8px;
}

/****** Filters ***********/

.filters {
    display: flex;
    border: none;
    align-items: center;
    gap: 15px;
}

.filters h3 {
    margin: 0;
    font-weight: bold;
}

.filters-btn {
    display: flex;
    gap: 15px;
}

.text-box {
    background-color: #FFF;
    border: 2px solid #D9D9D9;
    padding: 12px 10px;
    border-radius: 25px; 
    font-weight: 700;
}

.text-box:hover {
    background-color: var(--filter-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards a:nth-child(-n+3) {
    margin-bottom: 3.5%;
}

.hebergements-cards .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card img {
    width: 100%;
    aspect-ratio: 2/1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements-cards .card .card-content {
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}


.hebergements-cards .card .card-content p, .hebergements-cards .card .card-content h3 {
    margin: 0;
    padding: 0;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards a {
    width: 100%;
    min-height: 135px;
}

.populaires-cards .card {
    height: 100%;
    width: 100%;
    display: flex;
}

.populaires-cards img {
    width: 33%;
    aspect-ratio: 145/130;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités a marseille ***********/

.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-cards article {
    width: 23%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 15px 0 #0000001A;
}

.activites-cards img   {
    width: 100%;
    aspect-ratio: 300/380;
    object-fit: cover;
}

.activites-cards .card-title {
    padding-inline: 15px;
}

/****** Footer ***********/

footer {
    padding: 30px;
    display: flex;
    background-color: #F2F2F2;
    justify-content: flex-start;
    justify-content: space-between;
}

.section-footer  {
    width: 30%;
    text-align: left;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /****** Header ***********/

    nav li:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    }
    .main-container {
        padding: 0 50px;
        width: 100%;
    }
    .filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        min-height: 0px;
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        aspect-ratio: 1;
    }
    
}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* ... */

    .navbar {
        flex-direction: column;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        width: 100%;
        gap: 0;
    }

    .navbar ul li {
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 14px;
    }

    .navbar ul li:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .main-container {
        padding-inline: 0;
    }

    .section-title {
        padding-inline: 20px;
    }

    .header img {
        display: flex;
        justify-content: center;
    }
    
    .input {
        display: flex;
        align-items: center;
    }

    .filters h3 {
        align-self: flex-start;
    }

    .filters-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .text-box {
        width: 45%;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar input {
        width: 100%;
        text-align: left;
        padding-inline: 15px;
    }

    .search-btn {
        border-radius: 15px;
        padding: 0;
        width: 50px;
    }
    
    .search-btn  .search-btn-text {
        display: none;
    }

    .search-btn .fa-magnifying-glass {
        display: inline-block;
        padding: 15px 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        padding: 30px 20px;
        border-radius: 0;
    }

    .populaires {
        background-color: #D9D9D9;
    }

    .populaires-cards {
        gap: 15px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: #FFF;
    }
    
    .hebergements a {
        width: 100%;
    }
    
    .hebergements-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 14px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites {
        padding: 20px;
    }
    
    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards article {
        width: 100%;
    }

    .activites-cards img {
        aspect-ratio: 315/140;
    }

    /* Footer */

    footer {
        flex-direction: column;
    }

    .section-footer {
        width: 100%;
    }



}